# Python cache
__pycache__
*.pyc

# Exploit cache
exploit/__pycache__
exploit/*.pyc
exploit/__pycache__/*

# Other
.DS_Store

# LaTeX
latex_report/*.log
latex_report/*.aux
latex_report/*.out
latex_report/*.toc